[submodule "bundle/syntastic"]
	path = pack/mahoneko/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-colors-solarized"]
	path = pack/mahoneko/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-hdevtools"]
	path = pack/mahoneko/start/vim-hdevtools
	url = git://github.com/bitc/vim-hdevtools
